:root {
  /* paleta de colores*/
--fondo: #9FC131;
--primario: #005C53;
--texto: #042940;
--monoprimario: #24786F;
--contraste: #000;
--monocontraste: #F7D200;


}


body {
  background-color: var(--fondo);
  color: var(--contraste);
  margin: 0;
}

article {
  background-color: var(--primario);
  border-bottom: 1px solid white;
  padding: 1.5rem;
}

.resaltado {
  color: yellow
}

#puntosnegros {
  color: black;
}


nav ul li {
  list-style: none;
}


#titulo-del-blog {
  text-align: center;
  font-size: 3rem;
  padding-top: 6rem;
  position: fixed;
}


.ilustracion {
  border: 4px solid white;
  display: inline-block;
  width: 8fr;

}

#footer_blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.3rem;
  margin: 2rem;
}

#footer_blog div:nth-child(2) {
  font-size: 0.9rem;
}

.caption {
  margin-top: 1rem;
  margin-left: 1rem;
  font-style: italic;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav {
  font-size: 1.3rem;
  border-bottom: 5px solid white;
  position: fixed;
  width: 100%;
  background-color: black;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 1100px) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0.5rem;
  }

  nav {
    border-bottom: 5px solid rgb(187, 153, 4);
  }

}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(187, 153, 4);

}

article header hgroup h2 {
  display: flex;
  align-items: center;
}

article header hgroup {
  display: flex;
  justify-content: space-between;
}

article header hgroup h2 img {
  margin-right: 1rem;
}




section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

section header {
  grid-column: span 12;
}

section main {
  grid-column: span 8;
}

section aside {
  grid-column: span 4;
}

@media(max-width: 1024.1px) {
  section main {
    grid-column: span 12;
  }

  section aside {
    grid-column: span 12;
  }

  section footer {
    flex-direction: column;

  }

  aside div {
    flex-direction: column;
  }
}

@media(min-width: 1024.1px) and (max-width: 1324.1px) {
  aside div {
    flex-direction: column;
  }
}

section footer {
  grid-column: span 12;
}

aside h2 {
  text-align: center;
  font-size: 1.3rem;
}

aside div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.6rem;
  border-bottom: 1px dashed #fff;
}





aside div:nth-child(2n) {
  background-color: var(--monocontraste);
  display: flex;

}

aside div img {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
}

#fondo1 {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-tecnologia-digital-alambre-malla-red_1017-27428.jpg');

  color: black;
}

#fondo2 {
  background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/06/internet-conexion-inalambrica-wifi.jpg?tf=3840x');
  background-repeat: repeat-x;
  background-size: contain;
}

#fondo1 {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-tecnologia-digital-alambre-malla-red_1017-27428.jpg');

  color: black;
}

#fondo3 {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190623/ourmid/pngtree-full-screen-gold-coin-financial-industry-background-image_248292.jpg');

  color: black;
  text-decoration: none;
}



#fondo4 {
  background-image: url('https://uploadgerencie.com/imagenes/divisas.png  ');

  color: black;
}


